<div class="container">
    <section>
        <app-movie-list></app-movie-list>
        </section>
    <section>
        <app-customer-form></app-customer-form>
    </section>
    <section>
        <app-customer-list></app-customer-list>
    </section>
    <section>
        <app-room-form></app-room-form>
    </section>
    <section>
        <app-room-list></app-room-list>
    </section>
    <section>
        <app-session-form></app-session-form>
    </section>
    <section>
        <app-session-list></app-session-list>
    </section>
    <section>
        <app-ticket-list></app-ticket-list>
    </section>
</div>