/* You can add global styles to this file, and also import other style files */

/* src/styles.css */

/* Variáveis CSS para Consistência */
:root {
    --primary-color: #333;
    --secondary-color: #555;
    --background-color: #f4f4f4;
    --card-background: #fff;
    --text-color: #666;
    --border-radius: 5px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --container-width: 90%;
    --container-margin: 0 auto;
    --container-padding: 20px;
    --poster-height: 300px;
    /* Definindo uma altura fixa para os cartazes */
}

/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.container {
    width: var(--container-width);
    margin: var(--container-margin);
    padding: var(--container-padding);
}

h1 {
    text-align: center;
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

p {
    color: var(--text-color);
}

/* Estilo para os Componentes */
.component {
    background-color: var(--card-background);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.component h2 {
    margin-top: 0;
}

.component img {
    width: 100%;
    height: var(--poster-height);
    /* Aplicando a altura fixa aos cartazes */
    object-fit: cover;
    /* Garantindo que a imagem se ajuste ao espaço definido */
    border-radius: var(--border-radius);
}

/* Layout Flexível para Listas */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-item {
    flex: 1 1 200px;
    max-width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* Garantindo que o conteúdo flua de cima para baixo */
}

@media (max-width: 768px) {
    .flex-item {
        flex: 1 1 100%;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.component {
    animation: fadeIn 0.5s ease-in-out;
}